extends layout

block content

  div(class='container-fluid home')
    img(class='img-fluid' src='./images/index.jpg', alt='Computer')
    p(class='img-copyright') Photo by: 
      a(href='https://www.pexels.com/photo/computer-system-unit-component-2225616/') Martin Lopez

    p(class='hero') Create, Read, Update or Delete any Brand, Category or Component you like
