 .navbar {
  padding: 2rem;
  background-color: #f5f3f4;
}

.navbar-collapse {
  align-items: center;
  justify-content: flex-end;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand i {
  margin-right: 20px;
  font-size: 2rem;
}

.home {
  max-height: 85vh;
  overflow-y: hidden;
}

.img-copyright {
  color: white;
  position: absolute;
  bottom: 40px;
  right: 300px;
}

.img-copyright a {
  color: white;
  text-shadow: 0 0 5px black;
}

.img-copyright a:hover {
  color: gray;
  
}

.overlay {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero {
  color: white;
  text-shadow: 0 0 15px black;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 6.5rem;
}

.list {
  overflow: scroll;
  height: 80vh;
  width: 80vw;
  text-align: start;
 /*  background-color: transparent; */
}

.list-item-info {
  width: 70%;
  /* background-color: transparent; */
}

.list-item-info p:first-child {
  font-size: 1.5rem;
  font-weight: bold;
}

.list-img {
  height: 100px;
  width: 100px;
}

.list-group-item {
  background-color: rgba(255,255,255,0.9);
}

/* .list-img {
  background-color: transparent;
} */

.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.footer-content {
  background: rgb(4,10,19);
  background: linear-gradient(0deg, rgba(4,10,19,1) 63%, rgba(25,28,31,1) 100%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  height: 50px;
  gap: 1rem;
}

.footer a {
  color: white;
  gap: 2rem;
}

.footer a:hover {
  color: gray;
}

.footer i {
  margin-left: 1rem;
}